@charset "utf-8";

body {
	font: 100%/1.4 Verdana,Arial,Helvetica,sans-serif;
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
	background-image: url(../img/bg.jpg);
	background-repeat: repeat;
}

a img {
/* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border:none
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#42413C;
	text-decoration:none
/* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}

a:visited {
	color:#6E6C64;
	text-decoration:none
}

a:hover,a:active,a:focus {
/* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration:none
}

/* Body content area color, borders and sizing */
.container {
    background-color: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px;
    width: 880px;
}

/* Content spacer */
.spacer {
	border-top: 1px solid gray;
	margin: 25px auto;
	width: 675px;
	height: 1px;
}

/* Center and add margins and borders */
table#seatinglayout {
    margin: 20px auto;
	  border: 1px solid black;
}

/* add cell borders and padding */
#seatinglayout th, #seatinglayout td {
  border: 1px solid black;
	padding: 2px 7px;
}

/* Colors for differnt cell values */
#seatinglayout .colorV {
	background-color: blueviolet;
}
#seatinglayout .colorX {
	background-color: red;
}
#seatinglayout .colorO {
	background-color: green;
}

/* Legend and instructions */
#seating p {
	text-align: center;
}
p.instructions {
	font-size: 10px;
}

/* ~~ This is the layout information. ~~

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.content {
	padding:10px 0
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {
/* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float:right;
	margin-left:8px
}

.fltlft {
/* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float:left;
	margin-right:8px
}

.clearfloat {
/* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear:both;
	height:0;
	font-size:1px;
	line-height:0
}
